* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
  width: 700px;
  margin: auto;
  margin-top: 60px;
}

h1 {
  background-color: #594b4b;
  padding: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
p {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
}
